.header {
    display: flex;
    width: 100%;
    min-height: 4rem;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    background-color: white;
    border-top-left-radius: 1rem;
    z-index: 10;

    .header-right {
        display: flex;
        gap: 1rem;
        align-items: center;

        .actions {
            display: flex;
            gap: 0.5rem;

            .icon-container {
                position: relative;

                .notification-spin {
                    width: 10px;
                    height: 10px;
                    background-color: #ff5038;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    position: absolute;
                    right: 6px;
                    top: 5px;
                }
            }
        }

        .user-info {
            display: flex;
            flex-direction: column;
            text-align: end;

            h2 {
                color: #171923;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                line-height: 1.5rem;
            }

            p {
                color: var(--gray-500);
                font-size: 11px;
                font-style: normal;
                font-weight: 500;
                line-height: 1rem;
            }
        }

        .avatar {
            font-weight: 600;
            color: var(--main);
            background-color: var(--main-two);
        }
    }

    .ant-tabs-nav {
        margin: 0px;
    }

    @media (max-width: 750px) {
        width: 100%;
        min-width: 100px;
    }

    @media (max-width: 750px) {
        .inner-search {
            display: none;
        }
    }
}

.header-search {
    min-height: 3rem;
    padding: 0.5rem 2rem;
    box-shadow: 0px 4px 40px 0px rgba(151, 162, 183, 0.1);
    position: sticky;
    top: 0;
    background-color: white;
    border-top-left-radius: 1rem;
    max-width: 400px;
}

.vertical-line {
    height: 60%;
    border-right: 2px solid rgba($color: #000000, $alpha: 0.2);
}

.custom-autocomplete.ant-select {
    min-width: 400px;

    @media (max-width: 750px) {
        width: 100%;
        min-width: 100px;
    }

    .ant-select-selector .ant-select-selection-search .ant-select-selection-search-input {
        padding-top: 0.2rem !important;
    }
}

@media (min-width: 750px) {
    .header-search {
        display: none;
    }
}
